*{
    margin:o;
    padding: 0;
    font-family: cursive;
  }
  html {
    scroll-behavior: smooth;
  }
  .escala{
    transform: scale(1);
    transition: all 5s;
    :hover{
      transform: scale(1.1);
    }
   
  }
  
  /*textos en general*/
  p {
    text-align: justify;
  }
  .imagen2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  @keyframes entradaDesdeIzquierda {
    from{
    transform: translateX(-100%);}
    to{
      transform: translateX(0)
    }
  }
  @import "./sass/barradeNavegacion";
  @import "./sass/carrusel";
  @import "./sass/main";
  @import "./sass/footer";
  @import "./sass/paginas";