*{
    margin:o;
    padding: 0;
    font-family: cursive;
  }
  html {
    scroll-behavior: smooth;
  }
  .escala{
    transform: scale(1);
    transition: all 5s;
    :hover{
      transform: scale(1.1);
    }
   
  }
  /*fondo total*/
  body{
    background-image:url(./imagen/imagesfond.jpg);
    background-size: cover;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-top:0px;}
  /*textos en general*/
  p {
    text-align: justify;
    font-size: 25px;
  }
  .imagen2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  @keyframes entradaDesdeIzquierda {
    from{
    transform: translateX(-100%);}
    to{
      transform: translateX(0)
    }
  }
 .td{
  font-family: cursive;
 }
  @import "./sass/barradeNavegacion";
  @import "./sass/carrusel";
  @import "./sass/main";
  @import "./sass/footer";
  @import "./sass/paginas";